facebook-daily-post-workflow.json
{
  "name": "Facebook Daily Post Automation",
  "nodes": [
    {
      "id": "schedule-trigger-1",
      "name": "Daily 9AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtHour": 9
            }
          ]
        }
      }
    },
    {
      "id": "ollama-generate-1",
      "name": "Generate Post Content",
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [300, 300],
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "mistral"
        },
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "Write an engaging Facebook post for today. Be creative and pick a fresh topic."
            }
          ]
        },
        "simplify": true,
        "options": {
          "system": "You are a professional social media content creator for a Facebook Page. Your job is to write engaging, original Facebook posts.\n\nRules:\n- Keep posts under 500 characters\n- Vary topics: motivation, tips, industry insights, questions to engage followers, fun facts\n- Write in a warm, conversational tone\n- Include a call-to-action when appropriate (like, comment, share)\n- Do NOT use excessive hashtags (max 2 if relevant)\n- Output ONLY the post text, nothing else — no labels, no quotes, no explanations",
          "num_predict": 512,
          "temperature": 0.9
        }
      },
      "credentials": {
        "ollamaApi": {
          "id": "QWd9SzHgWsOiDEb2",
          "name": "Ollama Local"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "http-facebook-post-1",
      "name": "Publish to Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [600, 300],
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v21.0/YOUR_PAGE_ID/feed",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: $json.message || $json.output || $json.text || $json.content || $json.response, access_token: 'YOUR_PAGE_ACCESS_TOKEN' }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "set-success-1",
      "name": "Log Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 200],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {"id": "a1", "name": "status", "type": "string", "value": "success"},
            {"id": "a2", "name": "postId", "type": "string", "value": "={{ $json.id }}"},
            {"id": "a3", "name": "timestamp", "type": "string", "value": "={{ $now.toISO() }}"}
          ]
        },
        "options": {}
      }
    },
    {
      "id": "set-fb-error-1",
      "name": "Log Facebook Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 500],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {"id": "b1", "name": "status", "type": "string", "value": "facebook_error"},
            {"id": "b2", "name": "error", "type": "string", "value": "={{ typeof $json.error === 'string' ? $json.error : ($json.error ? $json.error.message : JSON.stringify($json)) }}"},
            {"id": "b3", "name": "timestamp", "type": "string", "value": "={{ $now.toISO() }}"}
          ]
        },
        "options": {}
      }
    },
    {
      "id": "set-ai-error-1",
      "name": "Log AI Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [600, 600],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {"id": "c1", "name": "status", "type": "string", "value": "ollama_error"},
            {"id": "c2", "name": "error", "type": "string", "value": "={{ typeof $json.error === 'string' ? $json.error : ($json.error ? $json.error.message : JSON.stringify($json)) }}"},
            {"id": "c3", "name": "timestamp", "type": "string", "value": "={{ $now.toISO() }}"}
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Daily 9AM Trigger": {
      "main": [[{"node": "Generate Post Content", "type": "main", "index": 0}]]
    },
    "Generate Post Content": {
      "main": [
        [{"node": "Publish to Facebook", "type": "main", "index": 0}],
        [{"node": "Log AI Error", "type": "main", "index": 0}]
      ]
    },
    "Publish to Facebook": {
      "main": [
        [{"node": "Log Success", "type": "main", "index": 0}],
        [{"node": "Log Facebook Error", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "timezone": "America/New_York"
  }
}
